/*adds global margin to the webpage*/
:root {
    
    background-image: url(..//IMG/nba-players.jpeg);
}

/*sets default font color of the whole webpage to black*/
body {
    
    background-position: center;
    color: black;
    background-color: transparent;
}

/*sets parent flexbox property of the header/navbar items*/
.parent-flex1-1 {
    display: flex;
    justify-content: space-evenly;
}

/*sets position layout for the home button element*/
.child-flex1-1 {
    background-image: url(../IMG/nba\ logo.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-grow: .1;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    height: 150px;
}

.child-flex1-1:hover {
    background-color: darkorange;
    opacity: 70%;
}
/*sets position layout for the title/h1 element*/
.flex-child1-2 {
    display: flex;
    flex-grow: 1;
    text-align: center;


}

#navbar {
    background-image: url(../IMG/backgroundimg.jpeg);
    background-size: cover;
    background-repeat:initial;
    background-position: center;
    width: 1350px;
    height: 200px;
    align-items: center;
    
}

/*styles the home button*/
#home-btn {
    color: rgb(0, 0, 0);
    font-size: 30px;
    opacity: 75%;
}

/*styles the main title text*/
#title {
    color: white;
    font-size: 36px;
    margin-left: 30%;
}

.parent-flex1-2 {
    display: flex;
    margin: 2%;
    justify-content: center;
    outline: 2px solid yellow;
    background-color: rgba(240, 255, 255, 0.678);
    justify-content: space-around;
    min-height: 300px;
}

.child-flex2-1 {
    min-width: 420px;
    margin-left: 10%;
    
}

.child-flex2-2 {
    min-width: 420px;
    margin-right: 10%;
    margin-left: 10%;
}

p {
    font-size: 24px;
}

#player-2, #player-1 {
    font-size: 30px;
    font-weight: bold;
}

#wiki-bio {
   
    width: fit-content;
    padding-left: 5px;
    border: solid 5px black;
}

#player1searchResults {
    background-color: rgba(128, 128, 128, 0.74);
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

#player2searchResults {
    background-color: rgba(128, 128, 128, .74);
    padding-top: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

