/*adds global margin to the webpage*/
:root {
    margin: 2%;
}

/*sets default font color of the whole webpage to black*/
body {
    color: black;
}

/*sets parent flexbox property of the header/navbar items*/
.parent-flex1-1 {
    display: flex;
}

/*sets position layout for the home button element*/
.child-flex1-1 {
    display: flex;
    flex-grow: .1;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    
}

/*sets position layout for the title/h1 element*/
.flex-child1-2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#navbar {
    background-image: url(../IMG/navbar-grass.jpg);
    background-position: center;
    background-position-y: -900px;
    opacity: 75%;
}

/*styles the home button*/
#home-btn {
    color: rgb(0, 0, 0);
    font-size: 30px;
    opacity: 75%;
}

/*styles the main title text*/
#title {
    font-size: 36px;
}
