/*adds global margin to the webpage*/
:root {
    margin: 2%;
    background-image: url(..//IMG/nba-players.jpeg);
    
}

/**/
body {
    /*sets default font color of the whole webpage to black*/
    color: black;
    /*sets the background html image to not move when page dynamically changes*/
    background-position: center;
}

/*sets entire body container to flexbox*/
.elder-flex {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    /*stacks 'parent-flex1-1' and 'parent-flex1-2'*/
    flex-direction: column;  
}

/*sets parent flexbox property of the header/navbar items*/
.parent-flex1-1 {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    /*sets space between for the logo/homeBtn container and the main title container*/
    justify-content: space-evenly; 

    /*BACKGROUND IMAGE SETTINGS*/
    background-image: url(../IMG/backgroundimg.jpeg);
    background-size: cover;
    background-repeat:initial;
    background-position: center;
    /*sets height of the logo box.  as a result- top and bottom margins are applied*/
    height: 200px;
    /*centers picture on the  vertical axis*/
    align-items: center;
}

.parent-flex1-2 {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    /*sets transparent gray background that all dynamic content will appear in*/
    background-color: rgba(240, 255, 255, 0.678);
    justify-content: space-around;
    /*sets minimum height for the gray transparent background*/
    min-height: 300px;
    /*sets max height of the container to be whatever the height is of the displayed content*/
    height: 1000px;
}

/*sets position layout for the home button element*/
.child-flex1-1 {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    justify-content: left;
    height: 150px;
    /*background settings of home button/icon*/
    background-image: url(../IMG/nba\ logo.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    opacity: 75%;
}

/*sets position layout for the title/h1 element*/
.child-flex1-2 {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    justify-content: center;
    /*styles the main title text*/
    color: white;
    font-size: 60px;
}

button {
    cursor: pointer;
}

/*changes home button based on mouse state:hover*/
.child-flex1-1:hover {
    background-color: darkorange;
    opacity: 70%;
}

/*pertains to the two containers in the opaque gray*/
.child-flex2-1, .child-flex2-2 {
    /*FLEXBOX PROPERTIES*/
    display: flex;
    /*stacks elements inside child-flex2-1 on top of each other*/
    flex-direction: column;
    /*centers all elements inside of their container*/
    align-items: center;
    /*sets initial width of the container*/
    width: 420px;
    margin-bottom: 10px;
}

.infant-flex1-2, .infant-flex2-2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.infant-flex1-5, .infant-flex2-5 {
    overflow: auto;
    /*dictates height of scrollbox*/
    height: 400px;
    outline: 1px solid black;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(136, 136, 136, 0.404);
}

p {
    /*sets font size of the returned player search results*/
    font-size: 24px;
}
/*sets font size and the font weight of the text "Player 1" and "Player 2"*/
#player-2, #player-1 {
    font-size: 30px;
    font-weight: bold;
}

#player1searchResults, #player2searchResults {
    display: flex;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.74);
    padding: 20px;
    margin-top: 10px;
    width: 420px;
}

.spacing {
    margin-left: 20px;
    float: right;
}

/* The Modal (background)
   Thanks to https://www.w3schools.com/howto/howto_css_modals.asp */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  #closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #closeModal:hover,
  #closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

